.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css */

.navbar-header {
  /* background-color: rgba(226, 101, 28, 0.712); */
  background-color: rgb(238, 220, 209);
  /* background-color:  rgb(200, 160, 238)  */
  padding: 0;
}

.footer-nikita {
  text-align: center;
  padding: 20px 30px 6px 0px;
  color: white;
  background-color: #282c34;
}

/* .container {
  display: flex;
} */
